body {
	 background-color: #2b2c2d;
	 text-align: left;
	 margin: 60px auto;
	 width: 50%;
	 font-family:'Helvetica', 'Arial', 'Sans-Serif';
	 padding: 0px;
	 list-style: none;
	 color: #e3e5e7;
}

h1{
	color: #2a5581;
  	font-weight: bold;
  	text-align: right;
}

h2 {
  	color: #2a5581;
  	font-weight: bold;
}

h3 {
  	font-weight: bold;
}

p {
	
}

dl {

}

dt {
	font-weight: bold;
}

footer {
	text-align: center;
}

a {
	color: #e3e5e7;
}